certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.1
decorator==5.1.1
future==1.0.0
geocoder==1.38.1
idna==3.7
psutil==5.9.8
PyAudio==0.2.14
pypiwin32==223
python-dotenv==1.0.1
pyttsx3==2.90
pywin32==306
ratelim==0.1.6
requests==2.31.0
setuptools==69.5.1
six==1.16.0
SpeechRecognition==3.10.3
typing_extensions==4.11.0
urllib3==2.2.1
